$column-padding: 10px;

.column__wrapper {
    width: 100%;
    height: 100%;
    
    .column {
        display: flex;
        flex-direction: column;
        background-color: #dfe3e6;
        border-radius: 4px;
        padding: $column-padding;
        max-height: 100%;
        width: 100%;
        flex: 0 0 auto;

        &__header {
            width: 100%;
            font-weight: bold;
            margin-bottom: 10px;
        }
    
        &__card-list {
            flex: 1 1 auto;
            overflow: auto;
            height: auto;
            min-height: 10px;
            max-height: 80%;

            &::-webkit-scrollbar {
                display: none;
            }
            
            &__item {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    
        &__footer {            
            flex: 0 0 auto;
            z-index: 10;
            &__button {
                margin: auto;
                font-size: 14px;
                cursor: pointer;
                background-color: #dfe3e6;
                &, &:focus {
                    border: none;
                    outline: none;         
                }
            }
        }
    }
}