$column-padding: 10px;

.column__wrapper {
    width: 100%;
    height: 100%;
    
    .column {
        background-color: #dfe3e6;
        border-radius: 4px;
        padding: $column-padding;
        display: flex;
        flex-direction: column;

        max-height: 100%;
        width: 100%;
        flex: 0 0 auto;

        &__header {
            width: 100%;
            font-weight: bold;
            margin-bottom: 15px;
        }
    
        &__card-list {
            flex: 1 1 auto;
            overflow-y: auto;
            overflow-x: hidden;
            height: auto;
            max-height: 80%;
            z-index: 20;
            
            &__item {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    
        &__footer {            
            flex: 0 0 auto;
            box-sizing: border-box;
            &__button {
                margin: auto;
                font-size: 14px;
                cursor: pointer;
    
                &, &:focus {
                    border: none;
                    outline: none;         
                }
            }
        }
    }
}